/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.Movie-Search {
    width: 475px;
    background-color: antiquewhite;
    color: #242424;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
    padding: 8px;
}

.Container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    color: #242424;
}
.Image {
    margin-bottom: 10px;
    height: fit-content;
}

.Movie-title {
    height: 80px;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
}
.Movie-date {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-style: italic;
}
.Movie-rating {
    padding-bottom: 6px;
    font-size: 30px;
    color: red;
    font-weight: bold;
    text-decoration: underline;
} */

